/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Body Styling */
body {
    line-height: 1.6;
    background-color: #dbdbdb;
    padding: 20px;
}

.hero-section {
  position: relative;
  background-image: url('MainBackground.jpg');
  background-size: 50%;
  /*background-position: center;*/
  /*text-align: center;*/
  /*padding: 104px 20px;*/
  /*color: #fff;*/
  /*overflow: hidden;*/
  /*padding-top: 33%;*/
  padding-bottom: 16%;
  margin: -2%;
  /*margin-top: 1%;*/
}

.hero-section .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(72, 72, 72, 0.5); /* Black overlay with 50% opacity */
    z-index: 1; /* Ensure the overlay is above the background image but below the content */
}

.hero-section img {
    position: relative; /* Ensure the logo is above the overlay */
    z-index: 2; /* Ensure the logo is above the overlay */
    max-width: 11%; /* Ensure the image scales appropriately */
    height: auto; /* Maintain aspect ratio */
    float: left;
    margin-top: 0;
}

.hero-section h1 {
    display: inline-block;
    position: relative; /* Ensure the heading is above the overlay */
   color: #59db59;
    z-index: 2; /* Ensure the heading is above the overlay */
    font-size: 3em; /* Adjust font size as needed */
    margin-left: 33%; /* Remove default margin */
    margin-top: 1%;
}
/* Aligning content to the right (Optional, if you have other items like navigation) */
.hero-section nav {
    margin-right: 20px; /* Spacing on the right */
}

/* Main Content Styling */
main {
    background-color: #dbdbdb;
    /*padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);*/
    margin: 5%;
}

main .Para1{
    display: inline-block;
}
main .ParaBox{
    background-color: #e5ffe3a3;
    border-radius: 5px;
    box-shadow:10px 10px 10px 10px rgba(0, 0, 0, 0.1) ;
    padding: 4%;
}
main .ParaBox ol{
    display: inline-block;
}
main .ParaBox img{
    width: 14%;
    float: inline-end;
    margin-top: -3%;
}
main .Para2 h2{
    color: #59db59;
}
main .Para2{
    margin-top: 3%;
}
main .Para2 img{
    margin-top: 3%;
    border-radius: 2%;
}
main .Para3 h2{
    color: #59db59;
}
main .Para3{
    margin-top: 3%;
}
/* Footer Styling */
footer {
    background-color: #566d54;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    border-radius: 5px;
}

footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 5px;
}

footer a:hover {
    text-decoration: underline;
}

/* Footer Contact Information */
footer p, footer div {
    margin: 10px 0;
}

footer p a {
    color: #fff;
    text-decoration: none;
}

footer p a:hover {
    text-decoration: underline;
}
